.landing-container{
    background-color: black;
    height: 100vh;
    margin: 0;
    align-items: center;
}

.landing-body{
    display: flex;
    align-items: center;
    height: 80vh;
    margin: 0 50px;
}

.title-api p{
    background-color: rgb(255, 0, 0);
    display: inline-block;
    padding: 5px;
    text-transform: uppercase;
    width: 200px;
    text-align: center;
    border-radius: 5px;
}

.description h2{
    width: 390px;
    text-transform: uppercase;
}

.description p{
    width: 480px;
    text-align: justify;
}

.text{
    width: 50%;
    color: white;
    text-align: left;
}

.button {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge red;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
   
  }

  

  .button::after {
    
    position: absolute;
    
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: black;
    transition: 0.5s;
    transform-origin: center;
  }
  
  .button::before {
    transform-origin: center;
    position: absolute;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: black;
    transition: 0.5s;
  }
  
  .button:hover::before, button:hover::after {
    transform: scale(0)
  }
  
  .button:hover {
    box-shadow: inset 0px 0px 25px red;
  }

  .landing-image img{
    width: 900px;
  }


  /* Estilos para dispositivos móviles */
/* Estilos para dispositivos móviles */
/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
    padding: 10px; /* Añadido para dar espacio en los bordes */
  }

  .logo img {
    max-width: 100px;
  }

  .button-about button {
    margin-top: 10px;
  }

  .landing-body {
    flex-direction: column;
    align-items: center;
    margin: 0 auto; /* Centra el contenido horizontalmente */
    max-width: 90%; /* Establece un ancho máximo para el contenido */
  }

  .text {
    width: 100%; /* Ancho completo para asegurar que el contenido esté centrado */
    text-align: center;
    margin-bottom: 20px;
  }

  .description {
    text-align: center;
  }

  .description h2 {
    font-size: 1.5em;
    width: 350px;
  }

  .description p {
    font-size: 0.8em;
    width: 350px;
    text-align: center;
  }

  .button {
    max-width: 150px;
  }

  .landing-image {
    text-align: center;
    max-width: 100%;
    margin-top: 20px;
  }

  .landing-image img {
    max-width: 100%;
  }

  .landing-container{
    width: 100%;
  }

  .button-about{
    display: none;
  }

}



